@font-face {
    font-family: "ahellya";
    src: url("../fonts/ahellya_italic.ttf");
    font-weight: italic;
}
@font-face {
     font-family: "ahellya";
     src: url("../fonts/ahellya.ttf");
}

/* //////////////// GENERAL ////////////////////////*/
body{
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    font-family: 'ahellya', sans-serif;
    position: relative;
    min-height: calc(100vh - 20px);
}

.fondBlanc{
    background-color: white;
}

.fondRouge{
    background-color: red;
}

footer{
    width: 100%;
    bottom: 0;
    border-top: 1px solid grey;
    text-align: center;
}
#comments{
}
/*/////////////////// FRONTOFFICE ///////////////////*/
.post{
    text-align: justify;
    text-justify: inter-word;
}

#pPresentation{
    text-align: center;
}

/*HEADER*/
header{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}
header h1{
    text-align: center;
}
#titrePrincipal1{
    font-size: 1.2em;
}
#titrePrincipal2{
    font-size: 0.7em;
    color: grey;
}
#userHeader,#logHeader{
    position: absolute;
    right: 0;
    align-self: center;
}

#logHeader label{
    display: block;
    float: left;
    width: 110px;
    text-align: right;
    padding-right: 5px;
}

#ligneConnexionRegister{
    display: flex;
    justify-content: space-between;
}
/*listpostsview*/
.news a{
    text-decoration: none;
    color: black;
}
.news button{
    cursor:  pointer;
}

/*postview*/
#titreComm{
    border-top: 1px solid grey;
    padding-top: 5px;
}
.btnSignalOn{
}

.btnSignalOff{
    background-color: red;
}

/*/////////////////// DASHBOARD ///////////////////*/



/*/////////////////// REGISTER ///////////////////*/
