.fondBlanc{
    background-color: white;
}

.fondRouge{
    background-color: red;
}

/* //////////////// GENERAL ////////////////////////*/
body{
    max-width: 1200px;
    margin: 0 auto;
}

.btnSignalOn{
    background-color: blue;
}

.btnSignalOff{
    background-color: red;
}
